/* Borrowed from Bootswatch Sketchy */

@import url("https://fonts.googleapis.com/css?family=Neucha|Cabin+Sketch&display=swap");

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #333;
  --primary: #333;
  --secondary: #555;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #fff;
  --dark: #555;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 2rem;  
}

h1, h2, h3, h4 {
  font-family: Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
}

pre {
  color: #ebebeb;
  background-color: #303030;
  border: none;
  font-size: 1.5rem;
}

code {
  color: #bc1a11;
  background-color: #303030;
}

pre:not([class]) {
  background-color: #b0b0b0;
}

.tutorial-exercise-output code {
  color: #212121;
  background-color: #b0b0b0;
}

/* For sidebar */

.topicsList .topic {
  color: #fff;
  font-size: 2rem;
}

.topicsList .topic.current {
  color: #212529;
}

.topicsList .topic:hover {
  color: #354B63;
}

.topicsFooter .resetButton {
  color: #fff;
  font-size: 1.5rem;
}

.btn-light:hover {
  color: #354B63;
}
